{% extends "base.html.twig" %}


{% block body %}

<div class="container-fluid">
<div class="row">

    <div class="col-12 col-md-2">
        <h3>{{ search.userInfo.user.nickname }}</h3>
        <img class="img-thumbnail" src="{{ search.userInfo.user.avatarLarger }}"/>
    </div>

</div>



{% endblock %}